[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cffi = "*"

[dev-packages]
pytest = "*"
ipykernel = "*"
"e1839a8" = {editable = true, path = ".", extras = ["mpi"]}
sphinx = "*"
breathe = "*"

[requires]
python_version = "3.7"
