[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
"flake8" = "*"
ford = {ref = "7b44574da7ec20f4ab4b1842ec7561de2a601930", git = "https://github.com/azag0/ford"}
