absl-py==2.4.0
aiofiles==25.1.0
annotated-types==0.7.0
ase==3.27.0
attrs==25.4.0
beartype==0.22.9
bibtexparser==1.4.4
certifi==2026.2.25
cffi==1.17.1
charset-normalizer==3.4.4
click==8.3.1
clu==0.0.9
comms @ git+https://github.com/sirmarcel/comms.git@496034fd9bbb58d3b82dbe1affd11b33a7537c42
contourpy==1.3.3
cycler==0.12.1
Cython==3.2.4
dill==0.4.1
dm-haiku==0.0.16
e3nn-jax==0.20.8
e3x==1.0.2
einops==0.8.2
etils==1.13.0
flax==0.10.6
fonttools==4.61.1
frozendict==2.4.7
fsspec==2026.2.0
gitdb==4.0.12
GitPython==3.1.46
glp @ git+https://github.com/kabylda/glp.git@f6955d50b34b352b2ea27b0ac1264909f4cde278
h5py==3.15.1
humanize==4.15.0
idna==3.11
importlib_resources==6.5.2
iniconfig==2.3.0
jax==0.5.3
jax-md @ git+https://github.com/kabylda/jax-md.git@a213e136072ccfa1bc02c866bc62240c30460b26
jax-pme @ git+https://github.com/lab-cosmo/jax-pme@decb2d815c17ca2bf1addaf0abb922ca3982a15a
jaxlib==0.5.3
jaxopt==0.8.5
jaxtyping==0.3.9
jmp==0.0.4
joblib==1.5.3
jraph @ git+https://github.com/kabylda/jraph.git@bcaa8f014bb046299aa77e73ed5a0b46724d3c47
kiwisolver==1.4.9
llvmlite==0.46.0
markdown-it-py==4.0.0
matplotlib==3.10.8
mdurl==0.1.2
ml_collections==1.1.0
ml_dtypes==0.5.4
mlff @ git+https://github.com/em819/mlff.git@4209ec2976566ded6b8f2141d8a4ff9c9e00fe7a
monty==2026.2.18
more-itertools==10.8.0
mpmath==1.3.0
msgpack==1.1.2
narwhals==2.17.0
nest-asyncio==1.6.0
networkx==3.6.1
numba==0.64.0
numpy==1.26.4
opt_einsum==3.4.0
optax==0.2.7
orbax-checkpoint==0.11.24
orjson==3.11.7
palettable==3.3.3
pandas==3.0.1
pillow==12.1.1
platformdirs==4.9.2
plotly==6.5.2
pluggy==1.6.0
plum-dispatch==2.7.1
portpicker==1.6.0
protobuf==6.33.5
psutil==7.2.2
pycparser==3.0
pydantic==2.12.5
pydantic_core==2.41.5
Pygments==2.19.2
pymatgen==2025.10.7
pyparsing==3.3.2
pysages @ git+https://github.com/em819/PySAGES.git@bcacf6007ff27f7e8a6a6eabc465c85b84a1850f
pytest==9.0.2
python-dateutil==2.9.0.post0
PyYAML==6.0.3
requests==2.32.5
rich==14.3.3
ruamel.yaml==0.19.1
scikit-learn==1.8.0
scipy==1.17.1
sentry-sdk==2.53.0
setuptools==80.10.2
simplejson==3.20.2
six==1.17.0
smmap==5.0.2
so3lr @ git+https://github.com/em819/so3lr.git@4aa8d3296410abd338eb4bb17ee6e7d3b05e5c8f
specable==0.1.1
spglib==2.7.0
sympy==1.14.0
tabulate==0.9.0
tensorstore==0.1.81
threadpoolctl==3.6.0
tqdm==4.67.3
treescope==0.1.10
typing-inspection==0.4.2
typing_extensions==4.15.0
uncertainties==3.2.3
urllib3==2.6.3
vesin==0.5.2
wadler_lindig==0.1.7
wandb==0.25.0
wheel==0.46.3
wrapt==2.1.1
zipp==3.23.0
